extends ../components/base/layout

block variables
  - const title = "Список страниц"

block main
  style.
    .container {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h1 {
      font-size: 24px;
      line-height: 28px;
    }

    a {
      color: rgb(10, 10, 175);
    }

    li {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 7px;
    }

    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-bottom: 40px;
    }

    @media (max-width: 768px) {
      .container {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      ol {
        padding-left: 20px;
      }

      ol li {
        margin-bottom: 15px;
      }
    }

  -
    const pages = [
      {
        name: "Анимации — animations.html",
        src: "animations.html"
      },
      {
        name: "Карта - 1 — map-1.html",
        src: "map-1.html"
      },
      {
        name: "Карта - 2 — map-2.html",
        src: "map-2.html"
      },
      {
        name: "Карта - 3 — map-3.html",
        src: "map-3.html"
      },
      {
        name: "Карта - 4 — map-4.html",
        src: "map-4.html"
      },
    ]

  main
    .container
      img(src="https://via.placeholder.com/300x150" width="300" alt="Логотип проекта")
      h1 Список страниц
      ol
        each page in pages
          li
            a(href= page.src)= page.name
