-
  const introLinks = [
    {
      href: '#menu',
      text: 'Меню',
    },
    {
      href: '#loader',
      text: 'Лоадер',
    },
    {
      href: '#first-screen',
      text: 'Сборка<br>первого экрана',
    },
    {
      href: '#show-on-scroll',
      text: 'Появление блоков',
    },
    {
      href: '#parallax',
      text: 'Параллакс',
    },
    {
      href: '#scroll-slider',
      text: 'Слайдер<br>по скроллу',
    },
  ]


mixin intro()
  section.intro
    .intro__sticky
      .container
        .intro__heading
          h1.intro__title.title Задачки<br> на прокачку
          p.intro__description Задачи на интерфейсную логику,<br> которые часто встречаются<br> на реальных проектах
        nav.intro__cards
          ul.intro__cards-list
            each item in introLinks
              li.intro__cards-item
                a.card-simple(href=`${item.href}`)
                  h2.card-simple__title.title.title--h2!=`${item.text}`
      .intro__bg
        video(src="./video/background-wave.mp4" alt="волны" autoplay="true" loop playisinline muted="true")
