mixin preloader()
  .preloader(data-preloader)
    .preloader__wrapper
      .preloader__cube
        .preloader__cube-faces
          .preloader__cube-face.shadow
          .preloader__cube-face.bottom
          .preloader__cube-face.top
          .preloader__cube-face.left
          .preloader__cube-face.right
          .preloader__cube-face.back
          .preloader__cube-face.front
