.card-simple {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
  min-height: 115px;
  border-radius: 10px;
  background-color: rgba($color-default-white, 0.6);

  &--centered {
    justify-content: center;
    align-items: center;
  }

  &--dark {
    background-color: $color-gainsboro;
  }

  @include vp-1023 {
    padding: 15px;
    min-height: 110px;
  }

  @include vp-767 {
    min-height: unset;
  }
}

.card-simple__title {
  text-align: right;
}
