.content-block {
  h2 {
    margin: 0;
    font-size: 45px;
    line-height: 54px;
    font-weight: 400;
  }

  h2:not(:last-child) {
    margin-bottom: 20px;
  }

  p {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
  }

  p:not(:last-child) {
    margin-bottom: 15px;
  }
}
