.scroll-slider {
  margin-top: 200px;
  background-color: $color-default-white;

  .container {
    position: relative;
    z-index: 2;
  }
}

.scroll-slider__bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: repeat;
  color: #f6f6f6;
}

.scroll-slider__slide {
  position: relative;
  transform: translate3d(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;


  .content-block {
    transform: translate3d(0, 0, 0);
    position: relative;
    margin: 0 auto;

    max-width: 70%;

    @include vp-767 {
      max-width: 100%;
    }

    &::before {
      content: " ";
      position: absolute;
      z-index: -1;
      top: -50%;
      left: -10%;
      bottom: -30%;
      right: -10%;

      width: 120%;
      height: 200%;

      border-radius: 50%;
      background-color: $color-default-white;
      opacity: 0.6;

      filter: blur(70px);
    }

    &--centered {
      text-align: center;
    }
  }
}
