.task {
  padding-top: 90px;
  position: relative;
  background-color: $color-default-white;

  @include vp-767 {
    padding-top: 45px;
  }

  .content-block {
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;

    @include vp-767 {
      max-width: 100%;
    }
  }
}

.task__cards-container {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-bottom: 20px;
}
