mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html",
        text: "Анимации"
      },
      {
        href: "map-1.html",
        text: "Карта 1"
      },
      {
        href: "map-2.html",
        text: "Карта 2"
      },
      {
        href: "map-3.html",
        text: "Карта 3"
      },
      {
        href: "map-4.html",
        text: "Карта 4"
      },
    ]

  header.header(class=headerMods data-header)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.header__logo
          +icon('logo', 362, 67)
      else
        a.header__logo(href="index.html" aria-label="Переход на главную")
          +icon('logo', 362, 67)
      button.header__toggle(data-menu-button)
    nav.main-nav(data-menu)
      .container
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active!=link.text
                else
                  a.main-nav__link(href=link.href)
                    span!=link.text
