//- Base

include ./base/header
include ./base/footer


//- Utils

include ./utils/icon
include ./utils/sprite


//- Blocks

include ./blocks/intro
include ./blocks/task
include ./blocks/scroll-slider
include ./blocks/preloader
include ./blocks/map
